a{
    text-decoration: none;
}

.stopWatch {   
    text-align: center;
    margin: 10px auto;
}
.numbers {
    font-size: 30px;
    line-height: 40px;
    color: black;
}
.pickup-timer{
    text-align: center;position: fixed;top: 50px; margin: auto; width: 100%;
    border-bottom: 1px solid #ccc;
}
.pickup-details{
    /*border-bottom: 1px solid #EAEAEA;*/
    padding: 5px 0px;
}
.pickup-details div{
    color: #868686;
    font-size: 11px;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #87C540!important;
}

[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: #87C540!important;
}

.bar.bar-stable .title {
    color: #FFF!important;
}

.bar-stable .button {
    color: #FFF!important;
}
ion-content{
    background: #EEEEEE;
}


.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1;
    color: #87C540!important;
    border-top: 2px solid #87C540!important;
}

.button{    
    background: #FFFFFF;
}

.active-pickup{
    border:2px solid #87C540 !important;
}
.active-pickup .item-divider{
    background: #87C540;
}
.logo{
    background: url(../icon.png) center center no-repeat;
    width: 44px;
    height: 43px;
    background-size: cover;
    margin-top: -5px;
}

#login-box{
    margin-top: 20px;
}

.right-button{
    color: #87C540;
    font-size: 32px;
    right: 5px;
    z-index: 99999;
    position: absolute
}

.pickup-details-title{
    padding: 6px;
    background: #87C540;
    font-weight: bold;
    font-size: 15px;
}
.login-box-title{
    padding: 10px;
    background: #87c540;
    color: #fff;
    font-size: 16px;
}

.right-menu{
    color: #fff;
    font-size: 30px;
    width: 20px;
}
.right-menu-box{
    width: 150px;
    background: #fff;
    position: absolute;
    z-index: 999999;
    right: 0;
    top: 44px;
}
.right-menu-box a{
    display: block;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #ececec;
    font-size: 17px;
    color: #000;
    text-decoration: none;
}
.menu-inactive{
    display: none;
}
.menu-active{
    display: block;
}
.login-status{
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.logout-box{
    padding: 10px;
    
}
.logout-button{
    position: absolute;
    right: 20px;
}