.stopWatch {   
    text-align: center;
    margin: 10px auto;
}
.numbers {
    font-size: 30px;
    line-height: 40px;
    color: black;
}
.pickup-timer{
    text-align: center;position: fixed;top: 50px; margin: auto; width: 100%;
    border-bottom: 1px solid #ccc;
}
.pickup-details{
    border-bottom: 1px solid #EAEAEA;
    padding: 5px 0px;
}
.pickup-details div:first-child{
    color: #868686;
    font-size: 11px;
}

.pickup-details:last-child{
    border-bottom: none;
    padding: 5px 0px;
}