.stopWatch {   
    text-align: center;
    margin: 10px auto;
}
.numbers {
    font-size: 30px;
    line-height: 40px;
    color: black;
}
.pickup-timer{
    text-align: center;position: fixed;top: 50px; margin: auto; width: 100%;
    border-bottom: 1px solid #ccc;
}
.pickup-details{
    /*border-bottom: 1px solid #EAEAEA;*/
    padding: 5px 0px;
}
.pickup-details div:first-child{
    color: #868686;
    font-size: 11px;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #87C540!important;
}

[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: #87C540!important;
}

.bar.bar-stable .title {
    color: #FFF!important;
}

.bar-stable .button {
    color: #FFF!important;
}
ion-content{
    background: #EEEEEE;
}


.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1;
    color: #87C540!important;
    border-top: 2px solid #87C540!important;
}

.button{    
    background: #FFFFFF;
}

.active-pickup{
    /*box-shadow: 0px 0px 4px #000!important;*/

    border:2px solid #87C540 !important;
}
.logo{
    background: url(../icon.png) center center no-repeat;
    width: 44px;
    height: 43px;

    background-size: cover;
    margin-top: -5px;
   }
   
   #login-box{
       margin-top: 100px;
   }