<ion-view title="Get Clicked" id="page8">
    <ion-content padding="true" class="has-header">
        <div id="getClicked-markdown3" style="color:#000000;">
            <p>Let's confirm your identity Gautham Udani</p>

            <p>Login Info : 20th April 2014 12:01 pm</p>
        </div>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <video id="video" autoplay></video>
            <canvas id="canvas"></canvas>       
        </div>
        <button id="snap" style="border-radius:0px 0px 0px 0px;" class="button button-calm  button-block icon ion-android-checkbox-outline"> Confirm</button>
    </ion-content>
</ion-view>