<ion-view title="Logout" id="page4">
    <div class="right-menu-box menu-inactive">
        <a href="#/attendance/settings"><i class="ion ion-wrench"></i> Setting</a>
        <a href="#/attendance/logout"><i class="ion ion-log-out"></i> Logout</a>
    </div>
    <ion-content padding="true" class="has-header">        
        <div>
            <div class="card logout-box" ng-repeat="usr in users">
                <button ng-click="logout(usr.id)" class="button button-small button-assertive logout-button">Logout</button>
                <div style="height: 31px;line-height: 31px;padding-right: 55px;">{{usr.name}}</div>

            </div>
        </div>
    </ion-content>
</ion-view>