<ion-view title="Mark Attendance" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="empid">
                <span class="input-label">Input</span>
                <input type="text" placeholder="Employee Id">
            </label>
        </form>
        <button id="markAttendance-button1" style="border-radius:0px 0px 0px 0px;" class="button button-royal  button-block"> Submit</button>
        <div id="markAttendance-markdown2" style="color:#000000;">
            <p>Welcome Gautham Udani!</p>

            <p>If this is indeed you then please proceed to mark attendance and if not then kindly re enter your Employee ID .</p>
        </div>
        <a ui-sref="markAttendance2.getClicked" id="markAttendance-button2" style="border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block button-outline icon ion-camera"> Proceed</a>
    </ion-content>
</ion-view>