<ion-view title="Mark Attendance" id="page1">
    <ion-tabs  class=" tabs-icon-top">
        <ion-tab title="Attendance" icon="ion-ios-camera" href="#/attendance/attendance">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Schedule" icon="ion-android-bus" href="#/attendance/schedule">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cleanig" icon="ion-erlenmeyer-flask-bubbles" href="#/attendance/cleaning">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Receipts" icon="ion-android-attach" href="#/attendance/receipts">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>