<ion-view title="Pickup Details" id="page9">
    <ion-content padding="true" class="has-header">
        <div class="timer">
            <div bb-stopwatch options="stopwatch">
                <div class="container">
                    <div class="stopWatch numbers">
                        {{stopwatch.elapsedTime| stopwatchTime}}
                    </div>
                    <button id="pickupDetails-button15" ng-show="stopwatch.elapsedTimeMS == 0" ng-click="startTimer()" style="font-weight:300;border-radius:0px 0px 0px 0px;" class="button button-energized  button-block button-outline icon ion-android-alarm-clock">Start Timer</button>
                    <button id="stoptimerbutton" style="display: none;" class="btn" ng-click="stopTimer()">Stop</button>
                </div>
            </div>            
        </div>
        <form name="PickupForm" class="list" ng-submit="savePickup(PickupForm)">
            <label ng-repeat="wastetype in wastetypes" class="item item-input">
                <span class="input-label">{{wastetype.name}}</span>
                <input ng-model="PickupForm.Pickup.wastetype[wastetype.id]['quantity']" required type="number" placeholder="Qty in Kg">
            </label>
            <div class="spacer" style="width: 283px; height: 47px;"></div>
            <label class="item item-input" name="wt1">
                <span class="input-label">Compost</span>
                <input ng-model="PickupForm.Pickup.compost" required type="number" placeholder="Qty in Kg">
            </label>
            <label class="item item-input" name="wt1">
                <span class="input-label">Sawdust</span>
                <input ng-model="PickupForm.Pickup.sawdust" required type="number" placeholder="Qty in Kg">
            </label>
            <label class="item item-input" name="wt1">
                <span class="input-label">Crates Filled</span>
                <input ng-model="PickupForm.Pickup.crates_filled" required type="number" placeholder="Qty in Kg">
            </label>
            <button type="submit" id="pickupDetails-button16" style="font-weight:300;border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block icon ion-android-checkbox-outline"> Submit</button>
        </form>
    </ion-content>
</ion-view>