<ion-view title="Receipts" id="page6">
    <ion-content padding="true" class="has-header">
        <form ng-if="isLogin() && !loginmessage" class="list" name="Receipt" enctype="multipart/form-data" ng-submit="saveReceipt(ReceiptForm)">
            
<!--            <label class="item item-select">
                <span class="input-label">Asset</span>
                <select ng-model="ReceiptForm.Record.asset_id">
                    <option ng-repeat="asset in receiptdata.Assets" value="{{asset.id}}">{{asset.name+' - '+asset.asset_no}}</option>
                </select>
            </label>-->
            <label class="item item-select">
                <span class="input-label">Receipt Type</span>
                <select ng-model="ReceiptForm.Record.recordtype_id" ng-init="ReceiptForm.Record.recordtype_id=1">
                    <option ng-repeat="recordtype in receiptdata.Recordtype" ng-selected="{{recordtype.id==1?true:false}}" value="{{recordtype.id}}">{{recordtype.name}}</option>
                </select>
            </label>
            <label class="item item-select" ng-if="ReceiptForm.Record.recordtype_id == 1">
                <span class="input-label">Fuel Type</span>
                <select ng-model="ReceiptForm.Record.fueltype_id">
                    <option ng-repeat="fueltype in receiptdata.Fueltype" value="{{fueltype.id}}">{{fueltype.name}}</option>
                </select>
            </label>

            <label class="item item-input" name="qty"  ng-if="ReceiptForm.Record.recordtype_id == 1">
                <span class="input-label">Fuel Qty</span>
                <input  ng-model="ReceiptForm.Record.quantity" type="number" placeholder="Qty in Ltrs">
            </label>
            <label class="item item-input" name="price">
                <span class="input-label">Price</span>
                <input  ng-model="ReceiptForm.Record.amt" type="number" placeholder="Price">
            </label>
            <div class="item item-input" name="attachments">
                <span class="input-label">Attachment</span>
                <div style="display: block;clear: both;"><img id="receipt-attachment" src="" style="width:100px;background:#fff;border:1px solid #ccc;" /></div>    
            </div>
            <div class="item item-input" name="attachments" style="border-top: none;">
                <span class="input-label"></span>
                <button class="button button-balanced" ng-click="getCameraFiles('camera')" style="width: 25%; margin-right: 10px;" id="getCamera" type="button">Camera</button>             
                <button class="button button-balanced" ng-click="getCameraFiles('files')" style="width: 25%" id="getFiles" type="button">Files</button>
                <input ng-model="ReceiptForm.Record.attachment" type="hidden" name="file">                
            </div>
            
            <button type="submit" id="receipts-button17" style="font-weight:300;border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block button-outline icon ion-android-checkbox-outline"> Submit</button>
        </form>
        <div style="text-align: center; padding: 20px 0px; ">{{loginmessage}}</div>
    </ion-content>
</ion-view>