<ion-view title="Schedule For The Day" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Mr Mehta</div>
            <div class="item item-body">
                <div id="scheduleForTheDay-markdown4" style="color:#000000;">
                    <p>A 101, sdfsfd , Mumbai 400001</p>
                </div>
                <div class="button-bar">
                    <button id="scheduleForTheDay-button8" style="font-weight:300;border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block button-outline icon ion-map"> View Route</button>
                    <a ui-sref="markAttendance2.pickupDetails" id="scheduleForTheDay-button9" style="font-weight:300;border-radius:0px 0px 0px 0px;" class="button button-assertive button-small button-block button-outline icon ion-ios-list-outline"> Details</a>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Arihant Soceity</div>
            <div class="item item-body">
                <div id="scheduleForTheDay-markdown5" style="color:#000000;">
                    <p>A 101, sdfsfd , Mumbai 400001</p>
                </div>
                <div class="button-bar">
                    <button id="scheduleForTheDay-button11" style="font-weight:300;border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block button-outline icon ion-map"> View Route</button>
                    <button id="scheduleForTheDay-button12" style="font-weight:300;border-radius:0px 0px 0px 0px;" class="button button-assertive button-small button-block button-outline icon ion-ios-list-outline"> Details</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Ramada</div>
            <div class="item item-body">
                <div id="scheduleForTheDay-markdown6" style="color:#000000;">
                    <p>A 101, sdfsfd , Mumbai 400001</p>
                </div>
                <div class="button-bar">
                    <button id="scheduleForTheDay-button13" style="font-weight:300;border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block button-outline icon ion-map"> View Route</button>
                    <button id="scheduleForTheDay-button14" style="font-weight:300;border-radius:0px 0px 0px 0px;" class="button button-assertive button-small button-block button-outline icon ion-ios-list-outline"> Details</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>