<style>
    .right-button-toggle{
        display: none;
    }
</style>
<ion-view title="Schedule For The Day" id="page3">
    <ion-content padding="true" class="has-header">
        <div style="width: 100%;height: 40px;" ng-click="uploadOfflineData()" ng-show="showUpload()"><div class="right-button"><i class="ion ion-android-upload"></i></div></div>
        <a href="#/attendance/pickups/{{schedule.id}}" ng-repeat="schedule in schedules">
            <div class="list card" >
                <div class="item item-divider"><b>{{schedule.name}} </b></div>
                <div class="item item-body" style="padding: 0px 15px;">                
                    <div class="pickup-details">
                        <div>Shift: {{schedule.shift.name}}</div>                        
                        <div style="font-weight:bold;color:#87C540;font-size: 12px;">{{pickup.pickuptime}}</div>                        
                    </div>
                </div>
            </div>
        </a>
        <div style="text-align: center; padding: 20px 0px; ">{{pickupmessage}}</div>
    </ion-content>
</ion-view>