<ion-view title="Pickup Details" id="page9">
    <ion-content padding="true" class="has-header"> 
        <div style="margin-top: 50px;">
            <form name="PickupForm" class="list" ng-submit="saveStartKM(PickupForm)">
                <label class="item item-input">
                    <span class="input-label">Please Enter Start Kilometers</span>
                    <input ng-model="PickupForm.startkilometer" required type="number" placeholder="KMS">
                </label>
                <button type="submit" id="pickupDetails-button16" style="font-weight:300;border-radius:0px 0px 0px 0px; margin-top: 50px;" class="button button-assertive  button-block icon ion-android-checkbox-outline"> Submit</button>
            </form>
        </div>
    </ion-content>
</ion-view>